/*! purgecss start ignore */

.svg-smallerthan5KB {
  background-image: url("../images/moon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.svg-biggerthan5KB {
  background-image: url("../images/walnut.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/*! purgecss end ignore */
